#video{
    width: 100%;
    height: 800px;
    border: none;
}
.travel_mainDiv{
    border: 1px solid lightgrey;
}
.achievment_head{
font-size: 20px;
padding: 6px 22px;
border-radius:  10px;
margin-bottom: 15px;
}
